.event-cover-img {
    text-align: center; /*for centering images inside*/
}
.event-cover-img img {
    width: 300px; /*set the width or max-width*/
    height: auto; /*this makes sure to maintain the aspect ratio*/
}

.event-container {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 70px;
    padding-bottom: 70px;
}

.event-info {

}

.description-text {
}

.event-list .box {
    padding: 25px 0 0;
}

.event-list .box .top {
    display: flex;
    margin-bottom: 30px;
}

.top .date {
    width: 115px;
    margin-right: 25px;
}

.event-list .box .top span {
    display: block;
    margin: 0;
}

.top .date span.month {
    font-weight: 500;
    font-size: 16px;
    padding: 8px 0;
}

.top .date span {
    text-align: center;
}

.bg-date {
    background-color: #ffc600;
}

.bg-month {
    background-color: #1180f2;
}

.event-list .box .top span {
    display: block;
    margin: 0;
}

.top .date span.day {
    height: 65px;
    padding-top: 5px;
    color: #fff;
}

h3, .top .date span.day, .related.products h2 {
    font-size: 30px;
}

.top .date span {
    text-align: center;
}

.event-list .box .top .right {
    margin-top: -7px;
}

.loading {
    margin: 20px auto;
}
