.event-cover-img {
    text-align: center; /*for centering images inside*/
}
.event-cover-img img {
    width: 300px; /*set the width or max-width*/
    height: auto; /*this makes sure to maintain the aspect ratio*/
}

@media (min-width: 768px) {
    .event-cover-img img {
        width: 280px; /*set the width or max-width*/
    }
}

.event-container {
    border-bottom: 1px solid #e3e3e3;
    padding: 70px 0;
}

.event-list .box {
    padding: 25px 0 0;
}

.event-list .box .top {
    display: flex;
    margin-bottom: 30px;
}

.top .date {
    width: 115px;
    margin-right: 25px;
}

.event-list .box .top span {
    display: block;
    margin: 0;
}

.top .date span.month {
    font-weight: 500;
    font-size: 16px;
    padding: 8px 0;
    color: #F4F6F3;
}

.top .date span {
    text-align: center;
}

.bg-date {
    background-color: rgba(0,0,0, 0.87);
}

.bg-month {
    background-color: #B79052;
}

.bg-week-day {
    background-color: #1180f2;
}

.event-list .box .top span {
    display: block;
    margin: 0;
}

.top .date span.day,
.top .date div.day{
    height: 73px;
    padding-top: 5px;
    color: #F4F6F3;
    font-size: 30px;
}

.top .date span,
.top .date div {
    text-align: center;
}

.event-list .box .top .right {
    margin-top: -7px;
}

.loading {
    margin: 20px auto;
}

.weekday {
    font-size: 16px;
    line-height: 6px;
}

.event-name {
    color: #213237;
}

.btn-outline-primary {
    color: #213237;
    border-color: #213237;
}

.btn-outline-primary:hover {
    color: #F4F6F3;
    background-color: #213237;
    border-color: #213237;
}

.btn-outline-primary.focus, .btn-outline-primary:focus,
.btn-primary.focus, .btn-primary:focus{
    box-shadow: 0 0 0 3px rgba(167,166,155,.5);
}

a {
    color: #B79052;
}

a:hover {
    color: #213237;
    text-decoration: underline;
}