.facebook-login-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facebook-login-description {
    padding: 20px 50px;
    text-align: center;
}