.DayPickerInput-Overlay {
    z-index: 99;
}

.btn-primary {
    background-color: #F06517!important;
    border-color: #F06517!important;
}

.btn-primary:hover {
    background-color: #f05230!important;
    border-color: #f05230!important;
}

.btn-secondary {
    background-color: #A7A69B!important;
    border-color: #A7A69B!important;
    color: #fff!important;
}

.btn-secondary:hover {
    background-color: #99988E!important;
    border-color: #99988E!important;
}

.btn-outline-secondary {
    color: #213237!important;
    border-color: #213237!important;
}

.btn-outline-secondary:hover {
    color: #fff!important;
    border-color: #213237!important;
    background-color: #213237!important;
}