 .intro {

 }

 .intro-image {
     background: url(./img/intro-bg.jpeg);
     background-size: cover;
     color: #ffffff;
     padding: 200px 0 60px;
     position: relative;
     text-align: left;
     z-index: 1;
 }

 .intro-title {
     font-weight: 500;
     font-size: 54px;
     letter-spacing: -1px;
     margin-bottom: 24px;
     position: relative;
     z-index: 2;
 }

 .intro-description {
     color: #f7f7f7;
     font-size: 20px;
     font-weight: 300;
     position: relative;
     z-index: 2;
 }